Repository VitaliyGold/wallet-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: bun test:ts, npx eslint --fix

refactoring table
  src/entities/category/ui/categoryLabel/styles.module.less
  src/features/expensesTable/ExpensesTable.tsx
  src/features/expensesTable/styles.module.less
  src/features/expensesTable/ui/ExpensesNameCell/index.tsx
  src/features/expensesTable/ui/ExpensesNameCell/styles.module.less
  src/features/expensesTable/ui/HeaderCell/index.tsx
  src/features/expensesTable/ui/tableBody/TableBody.tsx
  src/features/expensesTable/ui/tableBody/styles.module.less
  src/features/expensesTable/ui/tableHeader/TableHeader.tsx
  src/features/expensesTable/ui/tableHeader/styles.module.less
  src/pages/Dashboard/styles.module.less
  tsconfig.json
Due: npx eslint --fix

fix tsconfig
  tsconfig.json
Due: none

удалил лишний код
  src/features/expensesTable/ui/CategoryCell/CategoryCell.tsx
  src/features/expensesTable/ui/CategoryCell/index.ts
  src/features/expensesTable/ui/CategoryCell/styles.module.less
Due: bun test:ts, npx eslint --fix

add placeholder to empty expenses
  .husky/pre-commit
  src/entities/expenses/consts/index.ts
  src/shared/lib/dateMethods.ts
  src/shared/ui/index.ts
  src/shared/ui/uiImage/UiImage.tsx
  src/shared/ui/uiImage/index.ts
  src/shared/ui/uiImage/styles.module.less
  src/widgets/detailExpenses/DetailExpenses.tsx
  src/widgets/detailExpenses/EmptyPlaceholder/index.tsx
  src/widgets/detailExpenses/EmptyPlaceholder/styles.module.less
  src/widgets/detailExpenses/img/empty-cat.png
  src/widgets/expensesFilters/ui/FiltersList/FiltersList.tsx
  src/widgets/expensesFilters/ui/PeriodFilter/PeriodFilter.tsx
  tsconfig.json
Due: bun test:ts, npx eslint --fix

add placeholder to empty expenses
  src/entities/expenses/consts/index.ts
  src/shared/lib/dateMethods.ts
  src/shared/ui/index.ts
  src/shared/ui/uiImage/UiImage.tsx
  src/shared/ui/uiImage/index.ts
  src/widgets/detailExpenses/DetailExpenses.tsx
  src/widgets/detailExpenses/EmptyPlaceholder/index.tsx
  src/widgets/expensesFilters/ui/FiltersList/FiltersList.tsx
  src/widgets/expensesFilters/ui/PeriodFilter/PeriodFilter.tsx
Due: bun test:ts, npx eslint --fix

refactorign detail expenses
  src/entities/expenses/index.ts
  src/entities/expenses/model/expensesSelectors.ts
  src/entities/expenses/model/expensesSlice.ts
  src/features/expensesTable/ui/tableBody/styles.module.less
  src/widgets/detailExpenses/DetailExpenses.tsx
  src/widgets/detailExpenses/hooks/useChangeExpenses.tsx
  src/widgets/detailExpenses/hooks/useGetData.tsx
Due: bun test:ts, npx eslint --fix

fix bug with select
  src/entities/category/ui/categoryFilter/CategorySelect.tsx
Due: npx eslint --fix

test lint
  .husky/pre-commit
Due: none

test lint
  bun.lockb
Due: none

fix double request in detail list
  .lintstagedrc.json
  src/features/expensesTable/styles.module.less
  src/shared/ui/infinityLoader/InfinityLoader.tsx
  src/widgets/detailExpenses/DetailExpenses.tsx
  src/widgets/detailExpenses/hooks/useGetData.tsx
Due: npx eslint --fix

fix double request in detail list
  .husky/pre-commit
  .lintstagedrc.json
Due: none

fix double request in detail list
  src/shared/ui/infinityLoader/InfinityLoader.tsx
Due: npx eslint --fix

fix category validation and popup position
  .husky/pre-commit
  .lintstagedrc.json
  bun.lockb
  package.json
  src/entities/category/ui/categoryLabel/CategoryLabel.tsx
  src/features/categoryForm/consts/errors.ts
  src/features/categoryForm/model/useCategoryForm.ts
  src/features/categoryForm/ui/createForm/CreateForm.tsx
  src/features/categoryForm/ui/createForm/styles.module.less
  src/features/categoryForm/ui/editCategoryButton/EditCategoryButton.tsx
  src/shared/ui/uiIconButton/IconButton.tsx
  src/shared/ui/uiInput/styles.module.less
  src/shared/ui/uiInput/uiInput.tsx
  src/widgets/categoryCloud/CategoryCloud.tsx
  src/widgets/categoryCloud/ui/CategoryItem/CategoryItem.tsx
  src/widgets/lastExpenses/LastExpenses.tsx
  tsconfig.json
Due: bun test:ts, npx eslint --fix

добавил валидацию в создание траты + доработка блока total
  .lintstagedrc.json
  src/entities/expenses/adapters/expense.adapter.ts
  src/features/categoryForm/ui/createForm/CreateForm.tsx
  src/features/expensesForm/contants.ts
  src/features/expensesForm/expensesForm.tsx
  src/features/expensesList/styles.module.less
  src/features/expensesTotal/ExpensesTotal.tsx
Due: bun test:ts, npx eslint --fix

добавил компонент тостера
  index.html
  src/app/App.tsx
  src/app/providers/model/store.ts
  src/shared/helpers/index.ts
  src/shared/ui/index.ts
  src/shared/ui/toaster/Toast/index.tsx
  src/shared/ui/toaster/Toast/styles.module.less
  src/shared/ui/toaster/ToastList/index.tsx
  src/shared/ui/toaster/ToastList/styles.module.less
  src/shared/ui/toaster/hooks/useToast.ts
  src/shared/ui/toaster/index.ts
  src/shared/ui/toaster/model/selectors.ts
  src/shared/ui/toaster/model/toasterSlice.ts
  src/shared/ui/toaster/types/index.ts
  src/shared/ui/uiIconButton/IconButton.tsx
Due: bun test:ts, npx eslint --fix

Path conditions:
  bun test:ts: any of: *.ts
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
